<ng-container *ngFor="let event of getEventGroupData(groupKey,option)">
  <div *ngIf="isValidDate(event?.end)" class="event-item"
       (mouseover)="showTooltip($event,tooltip)"
       [style.background]="option?.color"
       [style.width.px]="getEventItemWidth(event?.start, event?.end)"
       [style.left.px]="getEventItemPosition(event?.start)">
    {{event?.description}}
    <div class="popover above"
         [style.left.px]="getEventItemWidth(event?.start, event?.end)/3" #tooltip>
      <div>
        <div>Hello</div>
        <br>
        <div>Hola</div>
      </div>
    </div>
  </div>
</ng-container>
