<ng-container *ngIf="pResourceData?.length">
  <table class="table" style="width: 1000px">
    <tbody>
    <tr>
      <td class="resource-container">
        <div style="border: 1px solid #e9e9e9;overflow: scroll hidden;">
          <div class="resource-header-container">
            <span>{{resourceHeader}}</span>
          </div>
          <div class="w-250" id="resource-title-table" style="max-height: 500px; overflow-y: auto">
            <table class="resource-table">
              <tbody>
              <tr *ngFor="let option of pResourceData" class="resource-item" [style.height.px]="getResourceHeight(option)">
                <td style="border-left: 0.25rem solid;" [style.border-left-color]="option?.color">
                  <div>
                    <span class="resource-title">{{option?.title}}</span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </td>
      <td>
        <div class="events-container">
          <div class="header-height">
            <div>
              <div [style.width.px]="(schedulerData?.headers?.length * 100)">
                <table class="scheduler-bg-table" >
                  <thead>
                  <tr style="height: 40px">
                    <th *ngFor="let header of schedulerData?.headers; let i =index"class="event-header" [ngStyle]="{'background': header.nonWorkingTime ? weekendColor : 'transparent'}">
                      <div>
                        <div>{{header?.time | date: 'MMM d'}}</div>
                      </div>
                    </th>
                  </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
          <div style="margin: 0px; position: relative;">
            <div [style.width.px]="(schedulerData?.headers?.length * 100)">
              <!--height-->
              <div class="scheduler-content">
                <table class="scheduler-content-table">
                  <tbody>
                    <ng-content></ng-content>
                  </tbody>
                </table>
              </div>
              <!--Background grid-->
              <div class="scheduler-bg" [style.width.px]="(schedulerData?.headers?.length * 100)">
                <table class="scheduler-bg-table">
                  <tbody>
                  <tr *ngFor="let option of pResourceData" class="resource-item" [style.height.px]="getResourceHeight(option)">

                    <td *ngFor="let header of schedulerData?.headers; let i =index" style="width: 100px" [ngStyle]="{'background': header.nonWorkingTime ? weekendColor: 'transparent'}">
                    </td>
                  </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</ng-container>
