<div *ngIf="processedData?.length">
  <table class="table" style="width: 1000px">
    <thead>
      <tr colspan="2">
        <td>
          <div style="display: flex; justify-content: space-between">
            <div>Date</div>
            <div>
              <input style="float: right" type="date" (change)="onDateSelected($event)">
            </div>
          </div>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="resource-container">
          <div style="border: 1px solid #e9e9e9;overflow: scroll hidden;">
            <div class="resource-header-container">
              <span>Resource Name</span>
            </div>
            <div>
              <div class="w-250">
                <table class="resource-table">
                  <tbody>
                  <tr *ngFor="let option of processedData" class="resource-item" [style.height.px]="getResourceHeight(option)">
                      <td>
                        <div>
                          <span>{{option?.title}}</span>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="events-container">
            <div class="header-height">
              <div>
                <div [style.width.px]="(schedulerData?.headers?.length * 100)">
                  <table class="scheduler-bg-table" >
                    <thead>
                      <tr style="height: 40px">
                        <th *ngFor="let header of schedulerData?.headers; let i =index"class="event-header" [ngStyle]="{'background': header.nonWorkingTime ? '#45966920': 'transparent'}">
                          <div>
                            <div>{{header?.time | date: 'MMM d'}}</div>
                          </div>
                        </th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>
            <div style="margin: 0px; position: relative;">
              <div [style.width.px]="(schedulerData?.headers?.length * 100)">
                <!--height-->
                <div class="scheduler-content">
                  <table class="scheduler-content-table">
                    <tbody>
                      <tr *ngFor="let option of processedData" class="resource-item" [style.height.px]="getResourceHeight(option)">
                        <td class="w-748">
                          <div class="event-group-container">
                            <!--Event container that will contain events for staff-->
                            <div [style.width.px]="(schedulerData?.headers?.length * 100)"
                                 class="w-748 event-group"
                                 *ngFor="let groupKey of getEventGroupKeys(option);">
                              <ng-container *ngFor="let event of getEventGroupData(groupKey,option)">
                              <span *ngIf="isValidDate(event?.end)"
                                    class="event-item"
                                    [style.background]="option?.color"
                                    [style.width.px]="getEventItemWidth(event?.start, event?.end)"
                                    [style.left.px]="getEventItemPosition(event?.start)">
                                {{event?.description}}
                              </span>
                              </ng-container>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="scheduler-bg" [style.width.px]="(schedulerData?.headers?.length * 100)">
                  <table class="scheduler-bg-table">
                    <tbody>
                    <tr *ngFor="let option of processedData" class="resource-item" [style.height.px]="getResourceHeight(option)">

                      <td *ngFor="let header of schedulerData?.headers; let i =index" style="width: 100px" [ngStyle]="{'background': header.nonWorkingTime ? '#45966920': 'transparent'}">
<!--                        <div [attr.key]="i">
                          {{header?.time | date: 'MM, dd'}}
                        </div>-->
                      </td>
                    </tr>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>




<pl-scheduler [resourceData]="sampleData"
              [calenderStart]="'2019-12-13'"
              [calenderEnd]="'2019-12-27'" [weekendColor]="'#45966920'">
    <pl-scheduler-resource *ngFor="let resource of sampleData" [resource]="resource">
      <pl-resource-event-group *ngFor="let eventGroup of resource?.eventGroups">
        <pl-scheduler-data *ngFor="let event of eventGroup"
                           [eventData]="event"
                           [calenderStart]="'2019-12-13'"
                           [calenderEnd]="'2019-12-27'"
                           [resourceColor]="resource?.color">
          <div class="row">
            <div style="width: 100%">
              Hello word
            </div>

            <div style="width: 100%">
              Hello word
            </div>

            <div style="width: 100%">
              Hello word
            </div>

            <div style="width: 100%">
              Hello word
            </div>

            <div style="width: 100%">
              Hello word
            </div>
          </div>
        </pl-scheduler-data>
      </pl-resource-event-group>
    </pl-scheduler-resource>
</pl-scheduler>

