<!--<div class="event-group">-->

<!--<ng-container *ngFor="let event of groupData">-->
  <div *ngIf="isValidDate(eventData?.end)" class="event-item"
       (mouseover)="showTooltip($event,tooltip)"
       [style.background]="resourceColor"
       [style.width.px]="getEventItemWidth(eventData?.start, eventData?.end)"
       [style.left.px]="getEventItemPosition(eventData?.start)">
    {{eventData?.description}}
    <div class="popover above"
         [style.left.px]="getEventItemWidth(event?.start, event?.end)/3" #tooltip>
      <div>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
<!--</ng-container>-->

  <!--<ng-content></ng-content>-->
<!--</div>-->
